.innerContainer {
  display: flex;
  flex-wrap: wrap;

  flex-shrink: 1;
  overflow: scroll;
  overflow-x: hidden;
  width: 70%;
  min-width: 1200px;
  height: 80%;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;

  margin:10px;
}

.hourLabel{
  font-size: 30px;
  color: #adadad;
}

.weekDayContainer{
  position: fixed;
}

.weekDay{
  justify-content: center;
  align-items: center;
  position: relative;

  min-height:50px;
  height:4.1%;
  width:13.9%;
  display: flex;
}
