.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.outerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
}

.weekSlider{
  justify-content: center;
  margin: 20px;
}

.topRow{
  width: 100%;
  justify-content: space-around;
  display: flex;
}

.logoRow{
  width: 100%;
  background-color: #1e398f;
}

.logo{
  float: left;
  padding: 40px;
}

.conflicts{
    display: flex;
    justify-content: space-between;
}

.overWriteCell{
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.pickup {
  background: #fffd80
}
.dropoff {
  background: #75d96c
}
.other {
  background: #bad9e3
}

.driverContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;

}

.driverMenu{
    padding: 20px;
    min-width: 400px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
